<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <div (click)="goBackToSettings()"  class="rowFlex">
        <img id="arrowLeft" src="../../assets/ArrowLeft.png">
        <p id="back">Settings</p>
      </div>
      <div id="topNav">
        <p (click)="goBackToSettings()" id="title">INFORMATION</p>
      </div>
    </ion-item>
  </ion-header>
  <div  (click)="setStartOfWeek()" class="box box1">
      <p class="textBox">Start of the week</p>
    <div class="rowFlex">
      <p class="blueText">{{startOfWeek}}</p>
      <img src="../../assets/ArrowRight.png">
    </div>
  </div>
  <div *ngIf="isChoosingStart"  class="choice">
    <div *ngFor="let day of week">
      <div (click)="selectStartOfWeek(day)" class="worklog">
        <p class="dayText">{{day}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!isChoosingStart" >
    <div  (click)="countWorkTime()" class="box box2">
      <p class="textBox">Counting Work Time</p>
      <div class="rowFlex">
        <p class="blueText">Current day</p>
        <img src="../../assets/ArrowRight.png">
      </div>
    </div>
    <p id="info">A work session that covers more than one day will be<br>
      split at midnight and accounted for each day separately.<br><br>
      Days longer than 8 hours will receive a notification for<br> extra hours.
      These extra hours will be send for approval.</p>
  </div>
</ion-content>
