<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
      <div id="topNav">
      <div id="row">
        <img id="arrowLeft" src="../../assets/ArrowLeft.png">
        <p (click)="goBack()" id="week">Week {{weekSelected}}</p>
      </div>
        <ion-icon (click)="createNewWorklog()" id="plusIcon" name="add-circle"></ion-icon>
      </div>
    </ion-item>
  </ion-header>
  <div class="boxDay">
    <p class="textDay">{{dayString}}</p>
    <div id="rowFlex">
      <p id="totalHours">{{dayHours.hours | add04}}:{{dayHours.minutes | add04}}:00</p>
      <img src="../../assets/Work_GladiatorEquip_White.svg">
    </div>

  </div>
  <div class="worklogList">
    <ion-list  *ngIf="allDataReceived" >
          <ion-item-sliding  *ngFor="let task of dayWorklogs"  >
            <ion-item class="itemSliding">
              <ion-label (click)="goToDetails(task)"   class="box">
                <div class="columnFlex" >
                  <p class="textBox">{{task.description}}</p>
                </div>
                <div class="dots">
                  <p class="hours">{{task.hours.hours | add04}}:{{task.hours.minutes | add04}}:00</p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="deleteWorklog(task)" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
    </ion-list>
  </div>

  <div id="overall">
    <div class="todayDiv margin">
      <p class="textTotalHours">TOTAL HOURS</p>
      <p class="textNumberTotalHours">{{dayHours.hours | add04}}:{{dayHours.minutes | add04}}:00</p>
    </div>
    <div class="todayDiv margin">
      <p class="textBreak">Break time</p>
      <p class="textNumberBreak">00:45:00</p>
    </div>
  </div>
</ion-content>
