#cancel{
  font-size: 12px;
  font-weight: 600;
  color:#BD352C;
  position: absolute;
  top:3px;
  left:10px;
}
.project{
  height:25px;
  background-color: #F6F6F6;
  margin: 15px 20px 0 20px;
}
.required{
  font-size: 8px;
  font-weight: 300;
  margin-left: 25px;
}
.title{
  margin-top:-3px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 25px;
}
#description{
  background-color: #F6F6F6;
  width:90%;
  padding-left: 10px;
  height:100px;
  margin:0 auto 0 auto;
}
.startEnd{
  display: flex;
  flex-direction: row;
  margin-top:-13px;
}
.start{
  font-size: 14px;
  font-weight: 600;
  margin-left: 25px;
  color:black;
}
.select{
  height:25px;
  background-color: #F6F6F6;
  width:95px;
}
#datePicker{
  margin:-9px 10px 8px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.end{
  font-size: 14px;
  font-weight: 600;
  margin-left: 55px;
}
#pickers{
  display: flex;
  flex-direction: row;
  margin-top:-22px;
}
#startTimePicker{
  width:90px;
  margin-left:7px;
}
#endTimePicker{
  width:90px;
  margin-left:35px;
}
#schedule{
  height:158px;
  width:content-box;
  background-color: #58BA9D;
  display :flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:100%;
  bottom: 47px;
}

#scheduleText{
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color:white;
}
