<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="clock">
      <ion-icon name="timer"></ion-icon>
      <ion-label>ClOCK</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>SCHEDULE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timesheets">
      <ion-icon name="albums"></ion-icon>
      <ion-label>TIMESHEETS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>SETTINGS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
