#topNav{
  position: absolute;
  top:-5px;
  width:100%;
}
#back{
  font-size: 14px;
  font-weight: 500;
}
#arrowLeft{
  margin-right:10px;
  width:9px;
  height:9px;
}
#title{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.rowFlex{
  justify-content: center;
  align-items: center ;
  display: flex;
  flex-direction: row;
}
.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0 20px 0 20px;
  width:100%;
  background-color: #F6F6F6;
  height:41px;
  margin-bottom: 4px;
}
.textBox{
  font-size: 14px;
  font-weight: 500;
}
.box1{
  margin-top:55px;
}
.box2{
  margin-top:5px;
}
.blueText{
  font-size: 14px;
  font-weight: 400;
  color:#4EACCD;
  margin-right: 15px;
}
#info{
  font-size: 10px;
  font-weight: 500;
  width:100%;
  padding:0 30px 0 30px;
}
.choice{
  position: absolute;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.fileFormat{
  width:100%;
  height:34px;
  background-color: #2A323A;
}
.dayText{
  font-size: 12px;
  font-weight: 500;
  color:white;
  margin-left: 20px;
  margin-top: -1px;
  padding-top: 8px;
}
.rowExport{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333A44;
  padding:0 30px 0 30px;
  position: absolute;
  bottom: 80px;
  width:100%;
}
#exportText{
  font-size: 14px;
  font-weight: 500;
  color:white;
}
